:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-color-50 {
  color: #f7ffe5;
}

.primary-color-100 {
  color: #eaffc7;
}

.primary-color-200 {
  color: #d5ff96;
}

.primary-color-300 {
  color: #b8fd59;
}

.primary-color-400 {
  color: #a7f541;
}

.primary-color-500 {
  color: #7bda08;
}

.primary-color-600 {
  color: #5daf01;
}

.neutral-color-50 {
  color: #f6f6f6;
}

.neutral-color-100 {
  color: #efefef;
}

.neutral-color-200 {
  color: #e4e4e4;
}

.neutral-color-300 {
  color: #c8c8c8;
}

.neutral-color-400 {
  color: #a8a8a8;
}

.neutral-color-500 {
  color: #848484;
}

.neutral-color-600 {
  color: #727272;
}

.neutral-color-700 {
  color: #545454;
}

.neutral-color-800 {
  color: #292929;
}

.neutral-color-900 {
  color: #1b1b1b;
}

#root {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: #f9fcff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin: 8px 0;
  transition: border-color 0.25s;
}

.w-full {
  width: 100%;
}

.text-recomended-black {
  color: #000 !important;
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin: auto !important;
}

.btn-select-wallet {
  width: 100%;
  border: 1px solid #e4e7ec;
  background-color: #fff;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 32px 0;
  z-index: 100;
}

.navbar-box {
  width: 52%;
  padding: 10px 32px;
  background-color: #ffffffb3;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 4px 21px 0 #00000012;
}

.auth-container .auth-side-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-container .auth-side-right {
  position: relative;
}

.auth-side-right .auth-side-right-logo {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 85%;
}

.navigate-back {
  cursor: pointer;
}

.auth-container .auth-modal {
  box-shadow: 6px 10px 14px 0 #0909090a;
  max-width: 350px;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-left: 10%;
}

.auth-container .auth-modal .auth-title {
  font-size: 1em;
  margin-bottom: 30px;
}

.auth-container .auth-modal .auth-title .auth-title-heading {
  color: #5daf01;
}

.spin {
  width: '100%';
  height: '100%';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.site-layout-background {
  height: 85vh;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.project-action-bar {
  margin: 20px 0;
}

.project-action-bar .project-search-bar {
  width: 250px;
}

.not-found-layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.update-password-modal {
  max-width: 350px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.auth-title-description {
  color: #4f4f4f;
  font-weight: 300;
  line-height: 20px;
}

.update-password-mr {
  margin-bottom: 20px;
}

.count-down-timer {
  font-size: 14px;
  font-weight: 400;
}

h2 {
  font-size: 35px !important;
}
