:root {
  --font-family: Lexend, sans-serif !important;

  font-family: Lexend, sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #7bda08;
  --main-gray: rgb(246 246 246 / 100%);
  --submit-button-bg: var(--main-color);
  --submit-button-bg-hover: #5daf01;
  --button-padding: 16px 32px;
  --button-radius: 4px;
  --div-radius: 12px;
}

#root {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: #f9fcff;
}

/* Primary Colors */
.primary-color-50 {
  color: #f7ffe5;
}

.primary-color-100 {
  color: #eaffc7;
}

.primary-color-200 {
  color: #d5ff96;
}

.primary-color-300 {
  color: #b8fd59;
}

.primary-color-400 {
  color: #a7f541;
}

.primary-color-500 {
  color: #7bda08;
}

.primary-color-600 {
  color: #5daf01;
}

/* Neutral Colors */
.neutral-color-50 {
  color: #f6f6f6;
}

.neutral-color-100 {
  color: #efefef;
}

.neutral-color-200 {
  color: #e4e4e4;
}

.neutral-color-300 {
  color: #c8c8c8;
}

.neutral-color-400 {
  color: #a8a8a8;
}

.neutral-color-500 {
  color: #848484;
}

.neutral-color-600 {
  color: #727272;
}

.neutral-color-700 {
  color: #545454;
}

.neutral-color-800 {
  color: #292929;
}

.neutral-color-900 {
  color: #1b1b1b;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-family: var(--font-family), serif !important;
}

a:hover {
  color: #535bf2;
}

/* Body */
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family), serif;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Paragraphs */
p {
  margin: 0;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.main-gray-div {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin: 5px;
}

.center-content-layout {
  height: 100%;
}

.ant-modal-confirm-btns button {
  padding: 16px 32px;
}

/* Layout */
.ant-layout-sider-children {
  height: 100%;
}

/* Modals */
.auth-modal button,
.update-password-modal button {
  min-height: 40px !important;
}

.ant-btn,
.ant-modal {
  font-family: var(--font-family), serif;
}

/* Sidebar */
.sidebar-container {
  height: 100%;
  padding: 5px;
}

.ant-menu-item-icon {
  padding: 7px;
  border-radius: 5px;
}

.ant-menu {
  border-right: none !important;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.ant-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 83%;
  height: 1px;
  background-color: #f0f0f0;
}

.ant-menu-item {
  padding: 0 10px !important;
  gap: 8px;
}

.ant-menu-inline .ant-menu-item {
  height: 50px !important;
}

.ant-menu-item .ant-menu-item-icon {
  color: #7bda08 !important;
  background-color: #f6f6f6;
}

.ant-menu-title-content {
  font-weight: 400;
  font-size: 14px;
}

.ant-menu-item-selected .ant-menu-title-content {
  font-weight: 500;
}

.ant-menu-item-selected .ant-menu-item-icon {
  background-color: #7bda08;
  color: #1b1b1b !important;
}

.auth-container .ant-statistic-content {
  line-height: 24px;
}

.auth-container .ant-statistic-content-value {
  font-size: 14px;
  color: #848484;
  font-weight: 400;
  margin: -100px 5px 0;
}

/* Utility Classes */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.breadcrumbs-container {
  margin: 5px 0 -5px 24px;
}

.text-recomended-black {
  color: #000 !important;
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.header-title {
  margin: auto !important;
}

.header-user {
  line-height: 15px;
}

.header-user .header-user-name {
  font-weight: 500;
  font-size: 0.8em;
}

.header-user .header-user-role {
  font-size: 0.55em;
  color: gray;
}

/* Buttons */
.btn-select-wallet {
  width: 100%;
  border: 1px solid #e4e7ec;
  background-color: #fff;
}

.btn-connect-wallet {
  padding: 0 32px !important;
}

.btn-auth {
  color: #1b1b1b;
}

/* Authentication */
.auth-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 32px 0;
  z-index: 100;
}

.auth-item-active {
  color: #7bda08;
}

.navbar-box {
  width: 52%;
  padding: 10px 32px;
  background-color: #ffffffb3;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 4px 21px 0 #00000012;
}

.auth-container .auth-side-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-container .auth-side-right {
  position: relative;
}

.auth-side-right .auth-side-right-logo {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 85%;
}

.navigate-back {
  cursor: pointer;
  margin: 0;
}

/* Sidebar Trigger */
.ant-layout-sider-zero-width-trigger {
  background-color: #888 !important;
}

/* Authentication Modal */
.auth-modal .ant-input-outlined {
  background-color: #f6f6f6 !important;
}

.auth-modal .ant-input::placeholder {
  font-size: 14px;
}

.auth-container .auth-modal {
  max-width: 350px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  margin-left: 10%;
}

.auth-container .auth-modal .auth-title {
  font-size: 1em;
  margin-bottom: 25px;
}

.auth-container .auth-modal .auth-title .auth-title-heading {
  color: #5daf01;
  font-size: 35px;
  font-weight: 400;
}

.auth-container .auth-modal .auth-title .auth-title-description {
  color: #4f4f4f;
  font-weight: 300;
}

.auth-container .auth-modal .ant-input-affix-wrapper-lg > input.ant-input {
  font-size: 14px !important;
}

/* Site Layout Background */
.site-layout-background {
  height: calc(100vh - 100px);
  margin: 10px 16px;
  border-radius: 10px;
}

/* Sidebar Helper */
.sidebar-helper {
  width: 100%;
  height: 170px;
  background-image: url('/image/bg-helper.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 12px;
}

.sidebar-helper .helper-img {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  background: #fff;
}

.sidebar-helper .helper-title {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.sidebar-helper .helper-description {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

/* Project Action Bar */
.project-action-bar {
  margin: 20px 0;
}

.project-action-bar .project-search-bar {
  width: 250px;
}

/* Not Found Layout */
.not-found-layout {
  height: 88vh;
  margin: 0 auto;
  background-color: #e4e4e4;
}

.not-found-layout h1,
h2 {
  margin: 0 !important;
}

.not-found-layout h1 {
  font-size: 7rem;
}

.not-found-layout h2 {
  font-size: 3rem;
}

/* Footer */
.footer {
  text-align: center;
}

.copy-successs {
  color: #5daf01;
}

/* Table */
.ant-table-thead th {
  background-color: #fff !important;
}

.ant-table-thead th::before {
  display: none;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

/* Dashboard Container */
.dashboard-container {
  height: 96%;
}

.dashboard-row {
  max-height: 50%;
  height: 100%;
}

.dashboard-card {
  height: 100%;
}

.dashboard-card .ant-typography {
  margin-top: 0.75rem;
}

.ant-card {
  border-radius: 8px !important;
}

.dashboard-card > .ant-card {
  height: 100%;
}

/* Update Password Modal */
.update-password-modal {
  max-width: 380px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.update-password-mr {
  margin-bottom: 20px;
}

.update-password-modal .ant-typography {
  margin-top: 1rem;
}

/* Notification */
.ant-notification-notice-message,
.ant-notification-notice-description {
  margin-left: 50px !important;
}

.ant-notification-notice-icon-success {
  content: url('/image/common/success.svg');
}

.ant-notification-notice-icon {
  width: 50px;
  top: 24px;
  left: 15px;
}

.ant-notification-notice-icon-warning {
  content: url('/image/common/warning.svg');
}

.ant-notification-notice-icon-error {
  content: url('/image/common/error.svg');
}

/* Dashboard Project Value */
.dashboard-project-value {
  font-size: 48px;
  font-weight: 600;
}

/* Dashboard Statistic */
.dashboard-statistic {
  font-size: 14px;
  font-weight: 400;
}

.dashboard-statistic .ant-statistic-content {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-total-project .ant-typography {
  font-size: 14px;
  font-weight: 500;
}

.dashboard-project-row .ant-typography {
  margin: 0;
}

.dashboard-project-row .ant-typography-secondary {
  font-size: 14px;
  font-weight: 400;
}

.dashboard-project-row .dashboard-project-link {
  font-size: 15px;
  font-weight: 500;
  color: #019dab !important;
}

.dashboard-project-row .project-column-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* Grid */
.ant-col {
  width: 100%;
}

/* Wallet Container */
.wallet-container .apexcharts-tooltip {
  background-color: #ffffff80 !important;
  border-radius: 90px !important;
  padding: 5px 10px;
}

.wallet-container .apexcharts-tooltip-series-group.apexcharts-active,
.wallet-container .apexcharts-tooltip-series-group:last-child {
  padding: 0 !important;
}

.wallet-container {
  background-color: #7bda08;
  padding: 8px;
  user-select: none;
  cursor: auto;
}

.wallet-container h4 {
  font-size: 20px;
}

.wallet-container h2 {
  font-size: 35px;
}

.wallet-container .wallet-growth-dcarbon {
  background-color: #fff;
  padding: 5px 10px;
  display: flex;
  gap: 4px;
  margin-top: 16px;
  border-radius: 99px;
  width: fit-content;
  color: #1b1b1b;
}

.wallet-container .ant-typography {
  margin: 0;
}

.wallet-container .wallet-balance {
  margin-top: 16px;
  border-radius: 20px;
  position: relative;
}

.wallet-balance .wallet-image {
  position: absolute;
  right: -1px;
  top: calc(50% - 17px);
  padding: 7px 0 7px 5px;
  background-color: #7bda08;
  border-radius: 20px 0 0 20px;
}

/* Transaction Container */
.transaction-container {
  padding: 8px;
}

.transaction-container .ant-typography {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.transactions-type {
  color: #019dab;
}

/* Spinner */
.ant-spin-dot-holder {
  color: #7bda08 !important;
}

.my-notification-title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family), serif !important;
}

.my-notification-description {
  font-size: 14px;
  font-family: var(--font-family), serif !important;
}

.ant-form-item-explain-error,
.ant-tooltip-inner,
.ant-select-item {
  font-size: 14px !important;
}

/* Table Body */
.ant-table-body {
  scrollbar-width: thin;
}

.table-skeleton-row {
  height: 70px;
}

.table-skeleton .table-skeleton-row:nth-child(odd) {
  background-color: #f6f6f6;
}

/* Dashboard Project List */
.dashboard-project-list {
  height: calc(36vh);
  overflow-y: scroll;
  scrollbar-width: thin;
}

.update-pws-form {
  width: 100%;
  max-width: 520px;
  margin: auto;
}

.update-new-pws .ant-form-item-control-input-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 10px;
  flex-wrap: wrap;
}

.update-pws-field {
  flex: 1 1 250px;
}

/* Media Queries */
/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 1024px) {
  .dashboard-container {
    height: auto;
  }

  .navbar-box {
    width: 100%;
    margin: 0 15px;
  }

  .auth-container .auth-side-right {
    width: 100%;
  }

  .dashboard-project-list {
    height: auto;
  }

  .auth-container .auth-modal {
    margin-left: 0;
  }

  .dashboard-row {
    height: 100%;
  }

  .h-full {
    height: auto;
  }

  .dashboard-project-value {
    font-size: 24px;
  }

  .dashboard-project-currency {
    font-size: 16px !important;
  }

  .wallet-balance h2 {
    font-size: 20px !important;
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (min-width: 1200px) {
  .project-description {
    max-height: 73vh;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .dashboard-project-list {
    height: auto;
  }

  .dashboard-row {
    height: 100%;
    max-height: 100%;
  }

  .dashboard-card {
    height: auto;
  }

  .dashboard-container {
    min-height: 800px;
  }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 1599px) {
  .site-layout-background {
    overflow-y: auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    overflow-x: hidden;
    scrollbar-width: thin;
  }

  .ant-layout-sider {
    position: fixed !important;
    height: 92%;
    z-index: 100;
    transition: all 0.3s linear !important;
  }

  .dashboard-card:first-child {
    height: auto;
  }

  .dashboard-card h4 {
    margin: 0 !important;
  }

  .dashboard-project-value {
    font-size: 32px;
  }

  .dashboard-project-currency {
    font-size: 22px !important;
  }

  .ant-statistic-title img {
    height: 40px;
  }
}
